{% extends 'base.html.twig' %}

{% block title %}DeailyResult index{% endblock %}

{% block body %}
    <h1>DeailyResult index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Value</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for deaily_result in deaily_results %}
            <tr>
                <td>{{ deaily_result.id }}</td>
                <td>{{ deaily_result.date ? deaily_result.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ deaily_result.value }}</td>
                <td>
                    <a href="{{ path('app_deaily_result_show', {'id': deaily_result.id}) }}">show</a>
                    <a href="{{ path('app_deaily_result_edit', {'id': deaily_result.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_deaily_result_new') }}">Create new</a>
{% endblock %}
